@use '../../../styles/utils' as *;

.who-we-are {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  &__label {
    display: inline-block;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $color-primary;
    margin-bottom: $spacing-4;
  }

  &__title {
    @include heading-2;
    color: $color-dark;
    margin-bottom: $spacing-8;
  }

  &__content {
    p {
      font-size: $font-size-lg;
      line-height: $line-height-relaxed;
      color: $color-grey;
      margin-bottom: $spacing-6;

      @include md {
        font-size: $font-size-xl;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__animate {
    opacity: 0;
  }
}
