@use '../../../styles/utils' as *;

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: $z-loader;
  @include flex-center;
  transition: background-color 0.5s ease-in-out;

  &__content {
    @include flex-center;
  }

  &__brand {
    position: relative;
    display: inline-flex;
    align-items: flex-end;
  }

  &__text {
    font-size: clamp(4rem, 15vw, 8rem);
    font-weight: $font-weight-semibold;
    letter-spacing: -0.02em;
    line-height: 1;
    transition: color 0.5s ease-in-out;
  }

  &__dot {
    position: absolute;
    top: 0.1em;
    right: -0.15em;
    width: 0.15em;
    height: 0.15em;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
  }
}
