@use '../../../styles/utils' as *;

.about-content {
  &__block {
    max-width: 800px;
    margin: 0 auto $spacing-16;
    text-align: center;
  }

  &__label {
    display: inline-block;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $color-primary;
    margin-bottom: $spacing-4;
  }

  &__title {
    @include heading-2;
    color: $color-dark;
    margin-bottom: $spacing-6;
  }

  &__text {
    p {
      font-size: $font-size-lg;
      line-height: $line-height-relaxed;
      color: $color-grey;
      margin-bottom: $spacing-4;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-6;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    @include card;
    text-align: center;
    border: 2px solid transparent;
    transition: all $transition-base;

    &:hover {
      border-color: $color-primary;
      transform: translateY(-4px);
    }

    &-icon {
      font-size: 3rem;
      margin-bottom: $spacing-4;
    }

    &-title {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $color-dark;
      margin-bottom: $spacing-4;

      @include md {
        font-size: $font-size-2xl;
      }
    }

    &-text {
      font-size: $font-size-base;
      color: $color-grey;
      line-height: $line-height-relaxed;
    }
  }

  &__animate {
    opacity: 0;
  }
}
