@use '../../../styles/utils' as *;

.footer {
  background-color: $color-dark;
  color: $color-secondary;
  padding: $spacing-16 0 $spacing-8;

  &__container {
    @include container;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-10;
    padding-bottom: $spacing-12;
    border-bottom: 1px solid rgba($color-secondary, 0.1);

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: 2fr 1fr 1fr 1.5fr;
    }
  }

  &__brand {
    max-width: 300px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: $spacing-4;

    &-img {
      height: 55px;
      width: auto;
      object-fit: contain;
      transition: transform $transition-base;

      @include md {
        height: 65px;
      }

      @include lg {
        height: 70px;
      }
    }

    &:hover {
      .footer__logo-img {
        transform: scale(1.05);
      }
    }
  }

  &__tagline {
    font-size: $font-size-base;
    color: $color-grey-light;
    margin-bottom: $spacing-6;
    line-height: $line-height-relaxed;
  }

  &__social {
    display: flex;
    gap: $spacing-4;
  }

  &__social-link {
    @include flex-center;
    width: 40px;
    height: 40px;
    background-color: rgba($color-secondary, 0.1);
    border-radius: $radius-md;
    color: $color-secondary;
    transition: all $transition-base;

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background-color: $color-primary;
      transform: translateY(-2px);
    }
  }

  &__section {
    &-title {
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      color: $color-secondary;
      margin-bottom: $spacing-6;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    font-size: $font-size-base;
    color: $color-grey-light;
    text-decoration: none;
    padding: $spacing-2 0;
    transition: color $transition-fast;

    &:hover {
      color: $color-primary;
    }
  }

  &__text {
    font-size: $font-size-sm;
    color: $color-grey-light;
    line-height: $line-height-relaxed;
    margin-bottom: $spacing-4;
  }

  &__cta {
    @include button-primary;
    padding: $spacing-3 $spacing-6;
    font-size: $font-size-sm;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
    padding-top: $spacing-8;

    @include md {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copyright {
    font-size: $font-size-sm;
    color: $color-grey;
  }

  &__legal {
    display: flex;
    gap: $spacing-6;
  }

  &__legal-link {
    font-size: $font-size-sm;
    color: $color-grey;
    text-decoration: none;
    transition: color $transition-fast;

    &:hover {
      color: $color-primary;
    }
  }
}
